@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#titulo{
  margin: auto;
  margin-left: 5%;
}

.body {
  font-family: Montserrat;
  font-style: normal;
}
.intro {
  height: auto;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px;
  padding-top: 100px;
}
.imagen-circular {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.texto1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #444444;
}
.texto2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
  padding-bottom: 10px;
}
.link1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #444444;
}

@media (max-width: 505px) {
  .intro {
    height: auto;
    width: 310px;
    padding-top: 120px;
  }
  .imagen-circular {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
}
.container {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px;
  height: auto;
  background-color: white;
}
h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}
.ver-mas {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #444444;
}
.proximamente {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #999999;
}
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
}

.p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
.p2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
.p3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
#icon-grid {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

#album {
  background-color: white;
}
.par1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #444444;
}
.par2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}
.formulario {
  max-width: 800px;
  background-color: #f9f9f9;
  padding: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
}
#nav-bar{
  position: fixed;
  background-color: white;
  z-index: 100;
}


div.notification {
  background-color: #1fd21f;
  position: fixed;
  width: fit-content;
  padding: 2vh;
  top: 2vh;
  right: 0;
  z-index: 1;
}

div.notification p {
  margin: 0;
  color: white;
  display: inline;
}

#noti__close {
  color: white;
  margin-left: 1vw;
  cursor:pointer;
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    transition: 1s;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.wrapper:hover #slide {
    transition: 1s;
    right: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black !important;
  z-index: 1;
}

.sticky a {
  color: white !important;
}